{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href=" {% static 'styles/styles.css' %}">
</head>
<body style="background-image: url('{% static 'images/logbg.jpg' %}'); background-size: cover;">
    <div class="container">
        <h3>There is Nothing here for now :(</h3>
        <h2 style="background-image: url('{% static 'images/dog.gif' %}'); background-size: cover;"></h2>
        
        <a href="{% url 'home' %}">Go Home</a>
    </div>
</body>
</html>